.container {
  display: flex;
  justify-content: center;
}

/* Buttons */
.button {
  color: #121212;
  display: block;
  padding: 8px 0;
  width: 150px;
  border: none;
  border-radius: 4px;
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.newCategoryButton {
  background: darkslateblue;
  margin: 20px auto;
}

.categoryButton {
  background: burlywood;
  margin: 5px;
}

.newCategoryButton:hover,
.categoryButton:hover {
  opacity: 0.7;
}

/* Toggle */
.hide {
  display: none;
}

.show {
  display: flex;
}
